#Profile
SPRING_PROFILES_ACTIVE=
MYSQL_ROOT_PASSWORD=

#For Security
JWT_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET_KEY=

#For your database
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=